@tailwind base;
@tailwind components;
@tailwind utilities;

div.tippy-box {
  padding: 4px;
}

@media (max-width: 33.75rem) {
  .fc .fc-header-toolbar {
    flex-direction: column;
    align-items: flex-start;
  }
}